.counter {
    border: 1px solid gray;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;

    & > * {
        border: none;
    }

    .minus {
        border-right: 1px solid gray;
    }

    .plus {
        border-left: 1px solid gray;
    }
}