.images {
    width: 100%;
    position: relative;

    .roller {
        display: flex;
        flex-direction: row;
        gap: 20px;
        left: 0;
        position: relative;
        overflow-x: hidden;
    }
}