@keyframes show {
    from {
        scale: 0;
        box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    }

    50% {
        scale: 1.2;
        box-shadow: 0 25.6px 57.6px 0 rgba(255,0,0,.22),0 4.8px 14.4px 0 rgba(255,0,0,.18);
    }

    to {
        scale: 1;
        box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    }
}

@keyframes hide {
    from {
        scale: 1;
        box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    }

    50% {
        scale: 1.2;
        box-shadow: 0 25.6px 57.6px 0 rgba(255,0,0,.22),0 4.8px 14.4px 0 rgba(255,0,0,.18);
    }

    to {
        scale: 0;
        box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    }
}

@keyframes morf {
    from {
        scale: 1;
        box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    }

    50% {
        scale: 1.2;
        box-shadow: 0 25.6px 57.6px 0 rgba(255,0,0,.22),0 4.8px 14.4px 0 rgba(255,0,0,.18);
    }

    to {
        scale: 1;
        box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    }
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 8pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    box-shadow: 0 0 4px 8px rgba(255, 0, 0, 0.15);

    &.show {
        animation: show .5s;
        scale: 1;
    }

    &.hide {
        animation: hide .5s;
        scale: 0;
    }

    &.morf {
        animation: morf .5s;
        scale: 1;
    }

    &.hidden {
        display: none;
        scale: 0;
    }
}