.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 50px;
    height: 50px;

    .bubble {
        position: absolute;
    }

    .image {
        width: inherit;
        height: inherit;
    }
}